# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
/SocketApp/Java/arduino_zombie/ArduinoZombie/nbproject/private/
/SocketApp/Java/arduino_zombie/ArduinoZombie/build/
/SocketApp/Java/arduino_zombie/ArduinoZombie/dist/
/SocketApp/Java/arduino_zombie/Carrinho/nbproject/private/
/SocketApp/Java/arduino_zombie/Carrinho/build/
/SocketApp/Java/arduino_zombie/Carrinho/dist/